<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalAppJava"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"
            android:exported="true"
            android:label="DashBoard"/>
        <activity android:name=".ManagePatientsActivity"/>
        <activity android:name=".AddPatientActivity"/>
        <activity
            android:name=".ManageStaffActivity"
            android:label="Staff Management"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity android:name=".AddStaffActivity"/>
        <activity android:name=".EditPatientActivity" />
        <activity android:name=".EditStaffActivity" />
        <activity android:name=".ManageAppointmentsActivity" />
        <activity android:name=".AddAppointmentActivity" />
        <activity android:name=".AppointmentDetailsActivity" />
        <activity android:name=".EditAppointmentActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".RegisterActivity" 
            android:label="Staff Registration"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".OtpActivity" 
            android:label="Verify Email"/>
        <activity android:name=".MyProfileActivity" 
            android:label="My Profile"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".EditMyProfileActivity" 
            android:label="Edit Details"
            android:parentActivityName=".MyProfileActivity"/>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".DoctorNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".ReminderReceiver" android:exported="true" />
        <receiver android:name=".AppointmentActionReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.samhith.hospitalappjava.ACTION_ACCEPT" />
                <action android:name="com.samhith.hospitalappjava.ACTION_CANCEL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>